
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bg-color{
 background-image: url(./assets/bg.png);
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

.display-flex{
  display: flex;
}
.display-flex h1{
  color: rgb(17, 17, 17);
font-size: 2rem;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}

.navbar{
  max-width: 1440px;
  margin: 0 auto;
  justify-content:space-between;
  align-items: center;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
text-decoration: none;
color: rgb(1, 172, 253);
font-size: 1.25rem;
font-weight: 500;
}

.btn-red{
width: 197px;
height: 50px;
align-items: center;
border-radius: 12px;
background-color: rgb(254, 163, 1);
color: rgb(255, 255, 255);
font-size: 1.25rem;
font-weight: 600;
border: none;

}
.btn-red-img{
  visibility: hidden;
}
hr{
  visibility: hidden;
}

/* style banner section  */

.banner{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.banner-title{
  max-width: 640px;
  margin: 0 auto;
}

.banner-heading{
font-size: 3.5rem;
font-weight: 700;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
color: rgb(17, 17, 17);
}
.Empower{
color: rgb(254, 163, 1);
}
.towards{
color: rgb(1, 172, 253);
}
.banner-description{
color: rgb(17, 17, 17);
font-size: 1.25rem;
font-weight: 400;


}

.btn-black{
width: 197px;
height: 50px;
align-items: center;
letter-spacing: 0%;
text-align: center;
border: none;
color: rgb(255, 255, 255);
font-size: 1.25rem;
font-weight: 700;
border-radius: 12px;
background-color: rgb(17, 17, 17);

}
.banner-image{
 width: 100%;
}

/* main section styles  */

/* curriculam styles  */

.curriculam{
  text-align: center;
}
.card-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.curriculam>h1{
color: rgb(0, 0, 0);
font-size: 2.8 rem;
font-weight: 700;
line-height: 57.5px;
}

.card1{
width: 367.8px;
height: 476.78px;
box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card2{

width: 367.8px;
height: 481.5px;
box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card3{
width: 367.8px;
height: 476.78px;
box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
a{
  text-decoration: none;
}
.read2{
  color: rgb(240, 170, 0);
}
.read3{
  color: rgb(135, 0, 255);
}
.card-box{
  padding: 64px 39px 63px 39px;
  text-align: center;

}
.kinder{
color: rgb(32, 32, 32);
font-size: 1.5rem;
font-weight: 700;


}
.kinder-description{
width: 286px;
height: 74px;
font-family: Raleway;
font-size: 1rem;
text-align: justify;
}
.btn-primary{

color: rgb(100, 200, 255);
font-family: Quicksand;
font-size: 1rem;
font-weight: 700;
line-height: 28px;
border: none;

}
.btn-primary2{
color: rgb(240, 170, 0);
font-family: Quicksand;
font-size: 1rem;
font-weight: 700;
line-height: 28px;
border: none;
}
.btn-primary3{
color: rgb(135, 0, 255);
font-family: Quicksand;
font-size: 1rem;
font-weight: 700;
line-height: 28px;
border: none;
}


.arrow{
text-align: center;
margin: 80px 0px;
}
.arrow> button{
  width: 50px;
  height: 50px;
  background-color: red;
  color: aliceblue;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  font-weight: 600;
}

/* our stories container styles  */
.Our-Stories-container{
  background: url(./assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
  text-align: center;

}

.stores-container{
  display: flex;
  justify-content: space-between; 
}
.stores-image{
width: 540px;
border: 1px solid tomato;
border-radius: 16px;
border: none;
background: rgb(255, 255, 255);
}
.stores-image img{
border-radius: 16px 16px 0px 0px;
}

.stores{
width: 290px;
border: 1px solid wheat;
border-radius: 16px 16px 0px 0px;
background: rgb(255, 255, 255);
border: none;
}
.stores img{
  border-radius: 16px 16px 0px 0px
}
.small-image{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.btn-store{
margin-left: 100px;
margin-top: -100px;
}
.btn{
width: 240px;
height: 70px;
border-radius: 8px;
border-radius: 47.93px;
background: rgb(60, 216, 232);
font-size: 1rem;
border: none;
margin-left: px;
margin-top: -120px;
color: rgb(255, 255, 255);
font-family: Raleway;
}
.btn1{
width: 240px;
height: 70px;
border-radius: 8px;
border-radius: 47.93px;
background: rgb(149, 178, 38);
font-size: 1rem;
border: none;
margin-left: 20px;
margin-top: -120px;
color: rgb(255, 255, 255);
font-family: Raleway;
}
.btn2{
width: 240px;
height: 70px;
border-radius: 8px;
border-radius: 47.93px;
background: rgb(93, 88, 240);
font-size: 1rem;
border: none;
margin-left: 20px;
margin-top: -120px;
color: rgb(255, 255, 255);
font-family: Raleway;
}
.kin{
color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 15.34px;
font-weight: 700;
line-height: 28.76px;
letter-spacing: 0%;
padding-left: 30px;
padding-right: 20px;
}
.kin-description{
color: rgb(102, 102, 102);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: justify;
padding-left: 30px;
padding-right: 30px;
}

/* stles footer section  */

.footer{
  background-color: rgb(1, 172, 253);
 height: fit-content;
}

.footer-container{
width: 100%;
margin: 0 auto;
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 100px;
color: rgb(255, 255, 255);
font-family: Quicksand;
}

.menus>nav>ul{
  list-style: none;
  

}
.logo-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-title img{
  width: 200px;
  height: 200px;
}
.logo-title>h1{
  color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 2.8rem;
font-weight: 700;
line-height: 39.51px;
letter-spacing: 0%;
text-align: left;
}

.colum{
 display: flex;
 flex-direction: column;
 width: 300px;
 height: 400px;
margin-top: 100px;
}



.item >a{
  font-size: 1.25rem;
width: 57.87px;
height: 25px;
left: 719.73px;
top: 2757px;
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}

.icon{
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 1.6rem;
font-weight: 700;
line-height: 30px;

}

.icon img{
  padding: 10px;
}

/* responsive media query  */

@media screen and (max-width:576px) {
  .nav-links,
  .display-flex h1,
  .btn-red,
   marquee,
  .stores-image{
    display: none;
  }
  .btn-red-img,hr{
    visibility: visible;
  }
  .banner{
    display: flex;
    flex-direction: column-reverse;
    gap: 0px;
  }
  .banner-title,.banner-heading{
    
    text-align: center;
  }
  .card-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .small-image{
    width: 100%;
    margin: 0 auto;
    gap: 10px;
  }
  .Our-Stories-container{
    text-align: center;
  }
   .footer-container{
    display: grid;
    grid-template-columns: 1fr;
    flex: 1;
    padding-left: 50px;
  }
}
